.left {
    background: blue;
    float: left;
}
.right {
    background: red;
    float: right;
}
.col {
    width: 50%;
    height: 300px
}
.hr {
    background: gray;
    height: 50px;
}
.clear {
    clear: both;
}
