.wrapper {
    border: 1px solid black;
    height: 300px;
    width: 600px;
}
.wrapper div {
    background: red;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}
.wrapper div:last-child {
    background: cyan;
    position: relative;
    top: 50px;
    left: 50px;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
